{% extends 'base.html' %}
{% load static %}
{% block content %}
<script type="text/javaScript" src="{% static 'js/game.js' %}" ></script>



<h1 class="title">Gra numer {{game.id}}, Status: {{game.status}}</h1>
<p id="gameid">{{game.id}}</p>
<div class="team1class">
  <h1>{{team1.name}}</h1>
  <h3 id="team1leader">Leader: {{team1.leader.get_username}}</h3>
<ul id="team1">
  {%for player in team1.player.all%}
  <li>{{player.get_username}}</li>
  {%endfor%}
</ul>
  {% if game.status == 'new' %}

<select id="team1select" name="users">
{% for u in users%}

<option value="{{u.get_username}}">{{u.get_username}}</option>

  {% endfor %}
</select>
  <button onclick="add_player('#team1select','{{team1.id}}')" class="start"> + </button>
  <button onclick="add_leader('#team1select','{{team1.id}}')" class="start"> Leader </button>
  {% endif %}
</div>





<div class="team2class">
  <h1>{{team2.name}}</h1>
  <h3 id="team2leader">Leader: {{team2.leader.get_username}}</h3>
<ul id="team2">
    {%for player in team2.player.all%}
  <li>{{player.get_username}}</li>
  {%endfor%}
</ul>
  {% if game.status == 'new' %}
<select id="team2select" name="users">
{% for u in users%}

<option value="{{u.get_username}}">{{u.get_username}}</option>

  {% endfor %}
</select>
  <button onclick="add_player('#team2select', '{{team2.id}}')" class="start"> + </button>
  <button onclick="add_leader('#team2select', '{{team2.id}}')" class="start"> Leader </button>
  {% endif %}
</div>

{% if game.status == 'new' %}
<button onclick="start_game()" class="start"> START </button>
{% endif %}


<table class="cardtable">
  {% for cards in cards%}
  <tr>
    <td>{{cards.id}}{{cards.word.word}}</td>
  </tr>
  {%endfor%}
</table>
<script>

  window.setInterval(function(){game_update('{{game.id}}')}, 1000)

</script>

{% endblock %}