{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="title">Gra numer {{game.id}}</h1>

{{team1.name}}
<ul id="team1">
</ul>
<select id="team1select" name="users">
{% for u in users%}

<option value="{{u.get_username}}">{{u.name}}</option>
  </select>
{% endfor %}
</select>
{{team2.name}}
<ul id="team2">
</ul>
<select id="team2select" name="users">
{% for user in users%}
</select>
<option value="{{user.name}}">{{user.name}}</option>
{% endfor %}



<table class="cardtable">
  <tr>
    <td></td>
  </tr>
</table>


{% endblock %}